header {
    display: inline;
    text-align: center;
}

/* #map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 500px;
} */
.scorebox {
    position: absolute;
    font:500 40px/2 "Raleway", sans-serif;
    top: 8px;
    right: 16px;
    /* font-size: 18px; */
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
  
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.choices {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    background: black;
}
.box {
    height: 350px;
    margin: 5px;
    width: 99%;
}
.box:hover {
	background: rgba(214, 212, 212, 0.253);
	border-bottom: 1px solid rgba(199, 195, 195, 0.377);
	border-top: 1px solid;
}
.questions {
    font: "Raleway", sans-serif;
    /* border: 2px dashed gray; */
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center
}
.qP {
    font-size: 40px;
    font-family: "Raleway", sans-serif;
}
#customizeGame {
    font: "Raleway", sans-serif;
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
    height: 60px;
    width: 110px;
    border-radius: 999px;
}
#customizeGame:hover {
    background: rgba(214, 212, 212, 0.253);
	border-bottom: 1px solid rgba(199, 195, 195, 0.377);
	border-top: 1px solid;
}
/* 


@keyframes flare {
100% {
  transform: translateY(-20px) scale(1.5);
  filter: blur(10px);
  opacity: 0;
}
}

@keyframes burn {
0% {
  color: rgb(127, 255, 110);
  background: rgb(255, 255, 255);
  box-shadow:
    0 0 5px 0 rgb(0, 200, 0),
    0 0 5px 0 rgba(36, 230, 10, 0.8),
    0 0 5px 0 rgba(230, 230, 10, 0.6);
}

100% {
  color: rgba(0, 0, 0, 1);
  background: rgba(255, 255, 255, 1);
  box-shadow:
    0 -35px 40px 30px rgba(255, 130, 10, 0),
    0 -30px 30px 10px rgba(230, 30, 10, 0),
    0 -20px 10px 0 rgba(255, 255, 10, 0);
}
} */